<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>手机地磁地震预测网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FreeHTML5.co"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" type="text/css" href="css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" type="text/css" href="css/simple-line-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/lzp.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<header role="banner" id="fh5co-header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header">
                    <!-- Mobile Toggle Menu Button -->
                    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse"
                       data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                    <a class="navbar-brand" href="index1.html">首页</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li class="active"><a href="#" data-nav-section="home"><span>主页</span></a></li>-->
                        <li><a href="#" data-nav-section="services"><span>管理员信息</span></a></li>
                        <li><a href="#" data-nav-section="explore"><span>员工信息</span></a></li>
                        <li><a href="#" data-nav-section="testimony"><span>工资统计</span></a></li>
                        <li><a href="#" data-nav-section="blog"><span>邮件发送</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<section id="fh5co-services" data-section="services">
    <!--<div id="lists">-->
        <!--<div class="spinner mid">-->
            <!--<div class="rect1"></div>-->
            <!--<div class="rect2"></div>-->
            <!--<div class="rect3"></div>-->
            <!--<div class="rect4"></div>-->
        <!--</div>-->
    <!--</div>-->
    <div id="staffInfo"></div>
    <form action="/emailselect">
        <input type="text" placeholder="邮箱">
        <input type="submit" value="按邮箱查询">
    </form>
</section>

<section id="fh5co-explore" data-section="explore">

</section>
<section id="fh5co-testimony" data-section="testimony">
    <div class="mid">

    </div>
   
</section>

<section id="fh5co-blog" data-section="blog">
    <div class="fh5co-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <!--<h2 class="animate-box"><span>留言板</span></h2>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-8 col-md-offset-2 subtext">-->
                            <!--<h3 class="animate-box">如果您对我们的产品有您独到的建议，欢迎给我们留下您宝贵的意见</h3>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;	<div class="col-md-4 animate-box">&ndash;&gt;-->
                    <!--<form class="contact-form" id="form_message">-->
                        <!--<div class="form-group">-->
                            <!--<label for="name" class="sr-only">Name</label>-->
                            <!--<input type="name" class="form-control" id="name" name="name" placeholder="Name">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="email" class="sr-only">Email</label>-->
                            <!--<input type="email" class="form-control" id="email" name="email" placeholder="Email">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="content" class="sr-only">Message</label>-->
                            <!--<textarea class="form-control" id="content" name="content" rows="7"-->
                                      <!--placeholder="Message"></textarea>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<input type="button" id="btn-submit" class="btn btn-send-message btn-md"-->
                                   <!--onclick="send_message_board()" value="Send Message">-->
                        <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Counters -->
<script src="js/jquery.countTo.js"></script>
<!-- Main JS (Do not remove) -->
<script src="js/main.js"></script>
<script src="js/action.js"></script>

</body>
</html>