<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工管理系统</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<ul class="nav nav-tabs">
    <li ><a href="#">管理窗口</a></li>
    <li class="active"><a href="/manInfoManager">管理员信息管理</a></li>
    <li ><a href="/manInfoStaff">员工信息管理</a></li>
    <!--<li><a href="/manInfoSalary">员工工资录入</a></li>-->
    <li><a href="/manInfoMail">邮件发送</a></li>
    <li><a href="/manOut">退出登录</a></li>
</ul>

<form action="/selectManager" method="get">
    <input type="text" placeholder="用户名" name="user_name" id="user_name">
    <input type="text" placeholder="真实姓名" name="real_name" id="real_name">
    <input type="text" placeholder="手机号" name="tel" id="tel">
    <select id="active" name="active">
        <option value="1">有效</option>
        <option value="0">冻结</option>
        <option value="2" selected="selected">不选</option>
    </select>
    <input type="submit" value="管理查询">
</form>
<form action="/addManager">
    <input type="submit" value="增加管理员">
</form>
</body>
</html>